* {
	border: 1px solid black;
	min-height: 10px;
}

.postcard-header {
	display: flex;
}

.postcard-header img {
	width: 50px;
	height: 50px;
}

.postcard-header h1 {
	flex-grow: 1;
	margin: 0;
}

.postcard-body {
	display: flex;
}

.body-left p:first-child {
	margin-top: 0;
}

.body-left,
.body-right {
	padding: 10px;
}

input {
	border: none;
	border-bottom: 1px solid #ccc;
	display: block;
	width: 100%;
	margin-bottom: 10px;
	padding: 5px;
}

p {
	font-size: medium;
}

.postcard-footer {
	text-align: center;
}

button {
	background-color: #ccc;
	padding: 10px 20px;
	color: white;
	border: none;
	cursor: pointer;
}
